# dependencies
/node_modules

# testing

# production
/lib
/build
/coverage
/false

# workspace
.vscode
/styleguide

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.rpt2_cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
